<% if employee_signed_in? %>
  <%= link_to employee_path(employee) do %>
    <div class="employee-group">
      <div class="employee-group__profile-image">
        <%= image_tag employee.get_profile_image(80, 80) %>
      </div>
      <div class="employee-group__employee-info">
        <p><%= employee.full_name %></p>
        <span><%= employee.department.name %></span>
      </div>
      <div class="employee-group__employee-description">
        <%= employee.introduction.truncate(63, omission: "...") %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to admin_employee_path(employee) do %>
    <div>
      <div>
        <%= image_tag employee.get_profile_image(100, 100) %>
      </div>
      <div>
        <%= employee.full_name %></br>
        <%= employee.department.name %>
      </div>
      <div><%= employee.email %></div>
      <div>
        <% if employee.is_active %>
          有効
        <% else %>    
          停止
        <% end %>    
      </div>
    </div>
  <% end %>
<% end %>

