<%= link_to employee_path(employee) do %>
  <div class="employee_info d-flex align-items-center">
    <div>
      <%= image_tag employee.get_profile_image(100, 100) %>
    </div>
    <div>
      <%= employee.full_name %></br>
      <%= employee.department.name %>
    </div>
    <div>
      <%= employee.introduction.truncate(20, omission: "...") %>
    </div>
  </div> 
<% end %>