<%= link_to employee_path(employee) do %>
  <div class="employee-group">
    <div class="employee-group__profile-image">
      <%= image_tag employee.get_profile_image(80, 80) %>
    </div>
    <div class="employee-group__employee-info">
      <p><%= employee.full_name %></p>
      <span><%= employee.department.name %></span>
    </div>
    <div class="employee-group__employee-description">
      <% if employee.introduction %>
        <%= employee.introduction.truncate(63, omission: "...") %>
      <% end %>
    </div>
  </div>
<% end %>

  

