<%= link_to employee_path(employee) do %>
  <div id="employee-<%= employee.id %>" class="employee-record">
    <div class="employee-record__profile-image">
      <%= image_tag employee.get_profile_image(80, 80) %>
    </div>
    <div class="employee-record__employee-info">
      <p><%= employee.full_name %></p>
      <p><%= employee.department.name %></p>
    </div>
    <div class="employee-record__employee-introduction">
      <% if employee.introduction %>
        <!--一覧表示の際に2行程度で収まる文字数を指定-->
        <p><%= employee.introduction.truncate(63, omission: "...") %></p>
      <% end %>
    </div>
  </div>
<% end %>

  

