<div class="container">
  <div class="row">
    <div class="col-md-10 d-flex mx-auto justify-content-center">
      
      <div class="col-md-3">
        検索エリア
      </div>

      <div class="col-md-7">
        <% @employees.each do |employee| %>
          <%= link_to employee_path(employee) do %>
          <div class="employee_box d-flex align-items-center">
            <div>
              <%= image_tag employee.get_profile_image(100, 100) %>
            </div>
            <div>
              <%= employee.full_name %></br>
              <%= employee.department.name %>
            </div>
            <div>
              <% if !employee.introduction %>
                紹介文がまだ設定されていません
              <% else %>
                <%= employee.introduction.truncate(20, omission: "...") %>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>