<div class="employee-media">
  <div class="employee-media__image-wrapper">
    <%= image_tag @employee.get_profile_image(200, 200), class: "employee-media__image" %>
  </div>
  <div class="employee-media__body">
    <div class="body__left">
      <p>名前：</p>
      <p>フリガナ：</p>
      <p>誕生日：</p>
      <p>出身地：</p>
      <p>メールアドレス：</p>
      <p>部署：</p>
      <p>入社日：</p>
    </div>
    <div class="body__right">
      <p><%= @employee.full_name %></p>
      <p><%= @employee.full_name_furigana %></p>
      <p><%= @employee.birthdate.strftime("%-m月%-d日") %></p>
      <p><%= @employee.prefecture %></p>
      <p><%= @employee.email %></p>
      <p><%= @employee.department.name %></p>
      <p><%= l @employee.created_at, format: :date %></p>
    </div>
  </div>
</div>

<div class="introduction-field">
  <div class="introduction-field__item">
    <h2>自己紹介</h2>
    <div class="text-box">
      <% if @employee.introduction.present? %>
        <p><%= safe_join(@employee.introduction.split("\n"), tag.br) %></p>
      <% else %>
        <h4>登録内容変更ボタンから自己紹介文を設定しましょう！</h4>
      <% end %>
    </div>
  </div>
  <div class="introduction-field__item introduction-field__btn">
    <% if @employee == current_employee && !@employee.guest_employee? %>
      <%= link_to "登録内容を変更する", edit_employee_path(@employee), class: "rounded-btn" %>
    <% end %>
  </div>
</div>

<div class="tabs">
  <% if @employee == current_employee %>
    <input id="employee-articles" type="radio" name="tabs__item" checked>
    <label class="tabs__item" for="employee-articles"><%= @employee.full_name %>さんの投稿</label>
    <input id="favorite-articles" type="radio" name="tabs__item">
    <label class="tabs__item" for="favorite-articles">いいねした投稿</label>
    <input id="groups" type="radio" name="tabs__item">
    <label class="tabs__item" for="groups">参加中のグループ</label>
  <% else %>
    <input id="employee-articles" type="radio" name="tabs__item" checked>
    <label class="tabs__item tabs__item--2" for="employee-articles"><%= @employee.full_name %>さんの投稿</label>
    <input id="groups" type="radio" name="tabs__item">
    <label class="tabs__item tabs__item--2" for="groups">参加中のグループ</label>
  <% end %>
  
  <div class="tabs__content" id="employee-articles_content">
    <% if @articles.present? %>
      <%= render partial: "public/articles/article_record", collection: @articles, as: "article" %>
    <% else %>
      <p>投稿がありません</p>
    <% end %>
  </div>
  
  <div class="tabs__content" id="favorite-articles_content">
    <% if @favorite_articles.present? %>
      <%= render partial: "public/articles/article_record", collection: @favorite_articles, as: "article" %>
    <% else %>
      <p>いいねした投稿はありません</p>
    <% end %>
  </div>
  
  <div class="tabs__content" id="groups_content">
    <% if @groups.present? %>
      <%= render partial: "public/groups/group_record", collection: @groups, as: "group" %>
    <% else %>
      <p>参加中のグループはありません</p>
    <% end %>
  </div>
</div>

