<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="row">
        <div class="col-md-4">
          <%= image_tag @employee.get_profile_image(300, 300) %>
        </div>
        <div class="col-md-8">
          <div>名前:　<%= @employee.full_name %></div>
          <div>フリガナ：<%= @employee.full_name_furigana %></div>
          <div>誕生日：<%= @employee.birthdate.strftime("%-m月%-d日") %></div>
          <div>出身地：<%= @employee.prefecture %></div>
          <div>メールアドレス：<%= @employee.email %></div>
          <div>部署：<%= @employee.department.name %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 border">
          <% if @employee.introduction.size == 0 %>
            <h4>登録内容変更ボタンから自己紹介文を設定しましょう！</h4>
          <% else %>
            <%= @employee.introduction %>
          <% end %>
        </div>
        <%= link_to "登録内容を変更する", edit_employee_path(@employee), class: "btn btn-success" %>
      </div>

      <div class="row">
        <div class="col">
          <h4><%= @employee.full_name %>さんの投稿一覧</h4>
          <% if @my_articles.exists? %>
            <div class="my_article_list d-flex">
              <% @my_articles.each do |my_article| %>
                <%= link_to article_path(my_article)  do %>
                  <div class="my_article_item border">
                    <div><%= my_article.title %></div>
                    <div><%= my_article.created_at.strftime("%Y-%m-%d") %></div>
                    <div>
                      <% if @employee == current_employee %>
                        <% if my_article.is_published %>
                          <p>公開中</p>
                        <% else %>
                          <p>下書き</p>
                        <% end %>
                      <% end %>
                    </div>
                    <div><%= my_article.favorites.count %>件</div>
                    <div><%= my_article.comments.count %>件</div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div>まだ投稿がありません</div>
          <% end %>
        </div>
      </div>

      <% if @employee == current_employee %>
        <div class="row">
          <div class="col">
            <h4>いいねした投稿一覧</h4>
            <% if @favorite_articles.exists? %>
              <% @favorite_articles.each do |favorite_article| %>
                <%= link_to article_path(favorite_article) do %>
                  <div>
                    <div><%= favorite_article.title %></div>
                    <div><%= favorite_article.created_at.strftime("%Y-%m-%d") %></div>
                    <div><%= favorite_article.favorites.count  %></div>
                    <div><%= favorite_article.comments.count  %></div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <div>いいねした投稿はありません</div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col">
          <h4>参加中のグループ一覧</h4>
          <% if @groups.exists? %>
            <% @groups.each do |group| %>
              <%= link_to group_path(group) do %>
                <div>
                  <div><%= group.name %></div>
                  <div><%= group.creater %></div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div>参加中のグループはありません</div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>