<%= link_to group_path(group) do %>
  <div class="group border">
    <div class="group_name">
      <%= group.name %>
    </div>
    <div class="creater_field">
      <%= group.creater.full_name %>
      (<%= group.creater.department.name %>)</br>
      <%= group.create_date %>
    </div>
    <div>
      メンバー数:<%= group.group_members.count %>人
    </div>
  </div>
<% end %>