<div class="group-box">
  <div class="group-box__name">
    <%= link_to group_path(group) do %>
      <!--一覧表示の際に１行程度で収まる文字数を指定-->
      <h2><%= group.name.truncate(32, omission: "...") %></h2>
    <% end %>
  </div>


  <div class="group-box__footer">
    <div class="group-box__item">
      グループリーダー: <%= group.creater.full_name %>
      <span>(<%= group.creater.department.name %>)</span>
    </div>
    <div class="group-box__item">
      <%= l group.created_at, format: :date %>
    </div>
    <div class="group-box__item">
      メンバー数:<%= group.group_members.count %>人
    </div>
  </div>
</div>
