 <% comments.each do |comment| %>
  <div class="comment-content">
    <div class="comment-employee">
      <%= image_tag comment.employee.get_profile_image(100, 100) %>
      <%= comment.employee.full_name %>
      (<%= comment.employee.department.name %>)
      コメント日:<%= comment.create_date %>
      <% if comment.employee == current_employee %>
        <%= link_to "コメントを削除する", article_comment_path(comment.article, comment), method: :delete, remote: true, class:"btn btn-danger" %>
      <% end %>
    </div>
    <div class="comment">
      <%= comment.comment %>
    </div>
  </div>
<% end %>