<tr class="tbody__list">
  <td class="td"><%= employee.id %></td>
  <td class="td">
    <%= link_to admin_employee_path(employee) do %>
      <p class="employee-name"><%= employee.full_name %></p>
    <% end %>
  </td>
  <td class="td"><%= employee.department.name %></td>
  <td class="td"><%= employee.email %></td>
  <td class="td">
    <% if employee.is_active %>
      <span class="status">有効</span>
    <% else %>
      <span class="status--non-actived">停止</span>
    <% end %>
  </td>
</tr>
