<div class="article-record">
  <div class="article-record__article-record-header">
    <div class="article-record-header__item">
      <%= l article.created_at, format: :date %>
    </div>
    <div class="article-record-header__item">
      <%= article.employee.full_name %>
    </div>
    <% if article.created_by?(current_employee) && current_page?(employee_path(article.employee)) %>
      <div class="article-record-header__item">
        <% if article.is_published %>
          <p class="status">公開中</p>
        <% else %>
          <p class="status--non-actived">下書き</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if admin_signed_in? %>
    <div class="article-record__article-title">
      <%= link_to admin_article_path(article) do %>
        <!--一覧表示の際に１行程度で収まる文字数を指定-->
        <h2 class=" article-title"><%= article.title.truncate(28, omission: "...") %></h2>
      <% end %>
    </div>
  <% else %>
    <div class="article-record__article-title">
      <%= link_to article_path(article) do %>
        <!--一覧表示の際に１行程度で収まる文字数を指定-->
        <h2 class=" article-title"><%= article.title.truncate(28, omission: "...") %></h2>
      <% end %>
    </div>
  <% end %>

  <div class="article-record__article-record-footer">
    <ul class="article-record-footer__list tag_list">
      <%= render partial: "public/tags/tags", collection: article.tags, as: "tag" %>
    </ul>
    <div class="horizontal-icon-list article-record-footer__list">
      <div id="favorite_btn_<%= article.id %>" class="horizontal-icon-list__item">
        <%= render "public/favorites/favorite", article: article %>
      </div>
      <div class="horizontal-icon-list__item">
        <i class="fa-regular fa-comments"></i>
        <%= article.comments.size %>
      </div>
    </div>
  </div>
</div>