<%= link_to article_path(article) do %>
  <div class="article_box d-flex align-items-center">
    <div>
      <%= image_tag article.employee.get_profile_image(100, 100) %></br>
      <%= article.employee.full_name %>
    </div>
    <div>
      <%= article.title %>
    </div>
    <div>
      <%= l article.created_at, format: :date %>
    </div>
    <% if article.employee == current_employee && current_page?(employee_path(article.employee)) %>
      <div>
        <% if article.is_published %>
          <p>公開中</p>
        <% else %>
          <p>下書き</p>
        <% end %>
      </div>
    <% end %>
    <%= render partial: "public/tags/tags", collection: article.tags, as: "tag" %>
      <div>
        <%= article.favorites.count %>件
      </div>
    <div>
      <%= article.comments.count %>件
    </div>
  </div>
<% end %>