<div class="article">
  <div class="article__item">
    <div class="employee-profile">
      <div class="image">
        <%= image_tag article.employee.get_profile_image(100, 100) %>
      </div>
      <div class="employee-info">
        <%= link_to employee_path(article.employee.id), class: "employee-name" do %>
          <%= article.employee.full_name %>
          (<%= article.employee.department.name %>)
        <% end %>
      </div>
      <% unless admin_signed_in? %>
        <div id="favorite_btn_<%= article.id %>" class="fa-2x">
          <%= render "public/favorites/favorite", article: article %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="article__item article-title">
    <h2><%= safe_join(article.title.split("\n"), tag.br) %></h2>
  </div>

  <div class=" article__item">
    <div class="tags">
      <%= render partial: "public/tags/tags", collection: article.tags, as: "tag" %>
    </div>
    <div class="horizontal-date article__horizontal-date">
      <p class="horizontal-date__item create-date">投稿日：<%= l article.created_at, format: :date %></p>
      <p class="horizontal-date__item update-date">最終更新日：<%= l article.updated_at %></p>
    </div>
  </div>

  <div class="article__item article-body">
    <%= safe_join(article.body.split("\n"), tag.br) %>
  </div>

  <% if article.created_by?(current_employee) %>
    <ul class="article__item horizontal-btn-list horizontal-btn-list--right">
      <li class="horizontal-btn-list__item"><%= link_to "投稿編集", edit_article_path(article), class: "horizontal-btn-list__btn rounded-btn" %></li>
      <li class="horizontal-btn-list__item"><%= link_to "投稿を削除", article_path(article), method: :delete, class: "horizontal-btn-list__btn rounded-btn rounded-btn--danger" %></li>
    </ul>
  <% end %>

  <div class="article__item article__comment">
    <h2 class="article__comment-title">コメント</h2>
    <div class="comment-index">
      <%= render partial: "public/comments/comment_index", collection: comments, as: "comment" %>
    </div>
    <% unless admin_signed_in? %>
      <div class="comment-form">
        <%= render "public/comments/comment_form", {article: article, comment: comment} %>
      </div>
    <% end %>
  </div>

</div>