<div class="container">
  <div class="row">
    <div class="col-md-10 d-flex mx-auto justify-content-center">
      
      <div class="col-md-3">
        検索エリア
      </div>

      <div class="articles-index col-md-7">
        <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="article_box d-flex align-items-center">
            <div>
              <%= image_tag article.employee.get_profile_image(100, 100) %></br>
              <%= article.employee.full_name %>
            </div>
            <div>
              <%= article.title %>
            </div>
            <div>
              <%= article.created_at.strftime("%Y-%m-%d") %>
            </div>
            <% article.tags.each do |tag| %>
              <div>
                <i class="fa-solid fa-tag"></i>
                <%= tag.name %>
              </div>
            <% end %>
            <div>
              <%= article.favorites.count %>件
            </div>
            <div>
              <%= article.comments.count %>件
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>