<div class="container">
  <div class="row">
    <div class="col-md-10 d-flex mx-auto justify-content-center">
      
      <div class="sidebar col-md-4">
        <div class="search_form">
          <%= render "public/searches/search_form", keyword: @keyword %>
        </div>
        <div class="tag_search">
          <% @articles.each do |article| %>
            <% article.tags.each do |tag| %>
              <ul class="tag_list">
                <%= link_to tag_search_path(tag_id: tag.id), remote: true do %>
                  <li>
                    <i class="fa-solid fa-tag"></i>
                    <%= tag.name %>
                    (<%= tag.article_tags.count %>)
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="articles_index">
          <%= render partial: "public/articles/articles_index", collection: @articles, as: "article" %>
        </div>
      </div>
      
    </div>
  </div>
</div>