<div class="content">
  <div class="form-group">

    <%= form_with model: @article do |f| %>
    <div class="form">
      <h2><%= f.label :title, "1.タイトルを入力してください" %></br></h2>
      <%= f.text_field :title, autofocus: true, class: "form-text form-text--size-m" %>
    </div>

    <div class="form">
      <h2><%= f.label :body, "2.本文を入力してください" %></br></h2>
      <%= f.text_field :body, class: "form-text form-text--size-l" %>
    </div>

   <div class="form">
      <h2><%= f.label :tag, "3.タグを入力してください" %></br></h2>
      <%= f.text_field :tag, placeholder: "日記,良い話,など", class: "form-text" %>
   </div>

    <ul class="horizontal-btn-list">
      <li class="horizontal-btn-list__item"><%= f.submit "投稿する", name: "post", class: "horizontal-btn-list__btn rounded-btn" %></li>
      <li class="horizontal-btn-list__item"><%= f.submit "下書き保存する", name: "draft", class: "horizontal-btn-list__btn rounded-btn rounded-btn--danger" %></li>
    </ul>
    <% end %>

  </div>
</div>