<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @article do |f| %>
      <div class="field">
        <%= f.label :title, "1.タイトルを入力してください" %></br>
        <%= f.text_field :title, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :body, "2.本文を入力してください" %></br>
        <%= f.text_field :body %>
      </div>
      <div class="field">
        <%= f.radio_button :is_published, :true %>
        <%= f.label :is_published, "投稿を公開する" %>
        <%= f.radio_button :is_published, :false %>
        <%= f.label :is_published, "下書きとして投稿する" %>
      </div>
      <div class="field">
        <%= f.submit "投稿する" %>
      </div>
      <% end %>
    </div>
  </div>
</div>