<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <div class="article-employee">
        <div>
          <%= image_tag @article.employee.get_profile_image(100, 100) %>
        </div>
        <%= @article.employee.full_name %>
        <%= @article.employee.department.name %>
      </div>
      <div class="favorite">
        <%= render "public/favorites/favorite", article: @article %>
      </div>
      <div>
        <%= @article.title %>
      </div>
      <div class="article-tags">
        <% @article.tags.each do |tag| %>
          <i class="fa-solid fa-tag"></i>
          <%= tag.name %>
        <% end %>
      </div>
      <div class="article-date">
        投稿日:<%= @article.create_date %>
        最終更新日:<%= @article.update_date %>
      </div>
      <div class="article-body">
        <%= @article.body %>
      </div>
      <% if @article.employee == current_employee %>
        <div class="btn-group">
          <%= link_to "投稿内容を変更する", edit_article_path(@article), class: "btn btn-success" %>
          <%= link_to "投稿内容を削除する", article_path(@article), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>

      <div class="comment-index">
        <%= render "public/comments/comment_index", comments: @comments %>
      </div>
      <div class="comment-form">
        <%= render "public/comments/comment_form", {article: @article, comment: @comment} %>
      </div>

    </div>
  </div>
</div>