<div class="form-group">
  <div class="vertical-form vertical-form--m">
    <div class="vertical-form__item">
      <h2><%= @notice.title %></h2>
    </div>
    <div class="vertical-form__item">
      <%= safe_join(@notice.body.split("\n"), tag.br) %>
    </div>
  </div>
</div>
<ul class="horizontal-btn-list">
  <% if @notice.group.created_by?(current_employee) %>
    <li class="horizontal-btn-list__item">
      <%= link_to "戻る", group_path(@notice.group), class: "horizontal-btn-list__btn rounded-btn" %>
    </li>
    <li class="horizontal-btn-list__item">
      <%= link_to "お知らせを削除する", group_notice_path(group_id: @notice.group, notice_id: @notice), method: :delete, class: "horizontal-btn-list__btn rounded-btn rounded-btn--danger" %>
    </li>
  <% else %>
    <%= link_to "戻る", group_path(@notice.group), class: "rounded-btn" %>
  <% end %>
</ul>