<div class="form-group">
  <%= form_with model: @employee, url: employee_session_path do |f| %>
    <div class="form form--session">
      <p class="form__item"><%= f.label :email, "メールアドレス" %></p>
      <p class="form__item"><%= f.email_field :email, placeholder: "example@gmail.com", class: "form-text" %></p>
    </div>
    <div class="form form--session">
      <p class="form__item"><%= f.label :password, "パスワード" %></p>
      <p class="form__item"><%= f.password_field :password, placeholder: "6文字以上", class: "form-text" %></p>
    </div>
    <div class="form-group__btn">
      <%= f.submit "ログイン", class: "rounded-btn" %>
    </div>
  <% end %>
  
  <div class="form-group__link">
    <%= render "public/shared/links" %>
  </div>
</div>